<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous"/>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="main-div">
    <form th:action="@{'/book' + ${book.id != null ? '/' + book.id : ''}}"
          th:object="${saveBookRequest}"
          method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control"
                   id="name"
                   value="The Last Hero"
                   th:field="*{name}"
                   th:value="${book.name}">
        </div>
        <div class="form-group">
            <label for="year">Year:</label>
            <input class="form-control"
                   id="year"
                   value="1945"
                   th:field="*{year}"
                   th:value="${book.year}">
        </div>
        <div class="form-group">
            <label for="genre">Genre:</label>
            <select class="custom-select" id="genre" th:field="*{genreId}">
                <option value="0" selected></option>
                <option th:each="genre : ${genres}"
                        th:value="${genre.id.toString()}"
                        th:text="${genre.name}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-secondary">
            <a th:href="@{'/'}">Cancel</a>
        </button>
    </form>
</div>
</body>
</html>