<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous"/>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<div id="book-details"
     class="main-div">
    <form id="save-book-form"
          th:action="@{'/book' + ${book.id != null ? '/' + book.id : ''}}"
          th:object="${saveBookRequest}"
          method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control"
                   id="name"
                   value="The Last Hero"
                   th:field="*{name}"
                   th:value="${book.name}">
        </div>
        <div class="form-group">
            <label for="year">Year:</label>
            <input class="form-control"
                   id="year"
                   value="1945"
                   th:field="*{year}"
                   th:value="${book.year}">
        </div>
        <div class="form-group">
            <label for="genre">Genre:</label>
            <select class="custom-select" id="genre" th:field="*{genreId}">
                <option value="0" selected></option>
                <option th:each="genre : ${genres}"
                        th:value="${genre.id.toString()}"
                        th:text="${genre.name}">
                </option>
            </select>
        </div>
        <button form="save-book-form" type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-secondary">
            <a th:href="@{'/'}">Cancel</a>
        </button>
    </form>
</div>
<div id="book-authors" class="main-div" th:if="${book.id != null}">
    <div class="form-group">
        <label for="authors">Authors:</label>
        <table class="table" id="authors">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col" class="short-column"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bookAuthor : ${bookAuthors}" class="table-row">
                <td th:text="${bookAuthor.name}">Dostoevsky</td>
                <td>
                    <form id="delete-author-form"
                          method="post"
                          th:action="@{ '/book/' + ${book.id} + '/delete/author/' + ${bookAuthor.id} }">
                        <button form="delete-author-form" type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <form class="form-inline"
          id="add-author-form"
          method="post"
          th:action="@{ '/book/' + ${book.id} + '/add/author/' }">
        <label class="sr-only" for="author">Author:</label>
        <select class="custom-select" id="author" th:name="authorId">
            <option value="0" selected></option>
            <option th:each="author : ${authors}"
                    th:value="${author.id.toString()}"
                    th:text="${author.name}">
            </option>
        </select>
        <button type="submit" form="add-author-form" class="btn btn-primary margin-left">Add</button>
    </form>
</div>
</body>
</html>