<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous"/>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>

<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Year</th>
            <th scope="col">Genre</th>
            <th scope="col" class="short-column"></th>
            <th scope="col" class="short-column"></th>
            <th scope="col" class="short-column"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}" class="table-row">
            <td th:text="${book.name}">The Last Hero</td>
            <td th:text="${book.year}">1956</td>
            <td th:text="${book.genre.name}">Novel</td>
            <td>
                <button type="button" class="btn btn-success">
                    <a th:href="@{'/book/' + ${book.id}} + '/comments'">View Comments</a>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-primary">
                    <a th:href="@{'/book/' + ${book.id}}">Edit</a>
                </button>
            </td>
            <td>
                <form method="post" th:action="@{'/book/' + ${book.id}} + '/delete'">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="main-div">
    <button class="btn btn-primary">
        <a th:href="@{'/book'}">Create</a>
    </button>
</div>
</body>
</html>